build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
build-stamp
cmake_build_tmp/
configure-stamp
debian/files
debian/*.install
debian/*.substvars
debian/*.debhelper
debian/app-template/
debian/libappcore-common-0/
debian/libappcore-common-dev/
debian/libappcore-dbg/
debian/libappcore-efl-0/
debian/libappcore-efl-dev/
debian/libappcore-gtk-0/
debian/libappcore-gtk-dev/
